<% include ../partials/header%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>This is a campground page</h1>
            <p>This is a smaller intro</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/camps/new">Add new camp</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
       <% data.forEach(function(item) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h4><%= item.name %></h4>
                    </div>
                    <image src="<%= item.image %>"></image>
                    <p>
                        <a href="/camps/<%= item._id %>" class="btn btn-primary">Show more</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>